@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid #212121;

    @media screen and (min-width: 380px) {
        width: 320px;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
     @media screen and (min-width: 768px) {
        width: 704px;
    }
     @media screen and (min-width: 1200px) {
         width: 1050px;
    }
}