@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    padding: 0 15px;
    margin: 0 auto;
    // border: 1px solid #212121;
    max-width: 480px;
    
     @media screen and (min-width: 768px) {
        width: 610px;
        max-width: 610px;
    }

     @media screen and (min-width: 1200px) {
         width: 1050px;
         max-width: 1200px;
    }
}