<section class="footer">
    <div class="container">
        <ul class="paginator">
            <li class="paginator-item pagimation-active">
                <a href="#" class="pagimation-link">1</a>
            </li>
            <li class="paginator-item">
                <a href="#" class="pagimation-link">2</a>
            </li>
            <li class="paginator-item">
                <a href="#" class="pagimation-link">3</a>
            </li>
            <li class="paginator-item">
                <a href="#" class="pagimation-link">4</a>
            </li>
            <li class="paginator-item">
                <a href="#" class="pagimation-link">5</a>
            </li>
            <li class="paginator-item">
                <a href="#" class="pagimation-link">...</a>
            </li>
            <li class="paginator-item">
                <a href="#" class="pagimation-link">29</a>
            </li>
        </ul>

    </div>
</section>