<section class="header-scene">
    <div class="container">
        <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        <div class="header-controls">
        <div class="set-search">
            <input type="text" name="search" class="header-search" id="header-search" placeholder="Start searching" />
            <button class="search-btn" type="button"></button>
            <div class="search-helper">
        </div>
        </div>
        <div class="set-countries">
            <input type="text" class="input-countries" placeholder="Choose country"/>
            <button class="btn-arrow-down" type="button"></button> 
            <div class="countries-block">  
        </div>
        </div>
    </div>
</section>