<section class="header-scene">
    <div class="container">
        <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        <div class="set-search">
            <input type="text" name="search" id="header-search" placeholder="Start search" />
        </div>
        <div class="set-countries">
            <input type="text" class="input-countries"/>
            <button class="btn-arrow-down" type="button">icon</button> 
            <div class="countries-block">  
        </div>
    </div>
</section>