.footer {
    background-color: rgb(0, 0, 0);
}

.paginator {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.pagimation-link {
    position: relative;
    border-radius: 0;
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.paginator-item {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 10px 0;
        border: 1px solid #DC56C54D;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s linear;
    }
}