.header-scene {
    background-image: url('.././images/pic.png');
    background-size: 100%;
    height: 640px;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    padding: 40px 0;
}

.header-title {
    font-weight: 900;
    font-size: 50px;
    width: 588px;
    color: #DC56C5;
    text-transform: uppercase;
}

.countries-block{
    position: absolute;
    top: 44px;
    right: 20px;
    width: 90%;
    display: none;
    max-height: 250px;
    background-color: #aea9a9;
    overflow: auto;

//     @media screen and (min-width: $desktop) {
//       max-height: 270px;
//   }
}

.countries-block.is-open {
    display: block;
}

.country-item{
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}