.header-scene {
    background-image: url('.././images/pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    text-align: center;
    padding: 40px 0;

    @media screen and (min-width: $tablet) {
        height: 364px;
    }

    @media screen and (min-width: $desctop) {
        height: 620px;
    }
}

.header-title {
    font-weight: 900;
    font-size: 50px;
    color: #DC56C5;
    text-transform: uppercase;
}

.countries-block{
    position: absolute;
    top: 44px;
    right: 20px;
    width: 90%;
    display: none;
    max-height: 250px;
    background-color: #aea9a9;
    overflow: auto;

//     @media screen and (min-width: $desktop) {
//       max-height: 270px;
//   }
}

.countries-block.is-open {
    display: block;
}

.country-item{
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}