.header-scene {
    background-image: url('.././images/pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 78px;
    padding-bottom: 52px;
    text-align: center;

    @media screen and (min-width: $tablet) {
        padding-top: 40px;
        padding-bottom: 123px;
    }

    @media screen and (min-width: $desctop) {
        padding-bottom: 133px;
    }
}

.header-title {
    font-weight: 900;
    font-size: 18px;
    max-width: 212px;
    color: #DC56C5;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        font-size:30px;
        max-width: 353px;
    }

    @media screen and (min-width: $desctop) {
        font-size: 55px;
        max-width: 600px;
    }
}

.header-controls {
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: flex;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.countries-block{
    position: absolute;
    top: 44px;
    right: 20px;
    width: 90%;
    display: none;
    max-height: 250px;
    background-color: #aea9a9;
    overflow: auto;

//     @media screen and (min-width: $desktop) {
//       max-height: 270px;
//   }
}

.countries-block {
    position: absolute;
    z-index: 50;
}

.countries-block.is-open {
    display: block;
    width: 100%;
    max-height: 125px;
    right: 0;
    border-radius: 30px 0;
    background: rgba(94, 94, 94, 0.856);
    border: 1px solid #3a3a3a;
    scrollbar-width: none;

    @media screen and (min-width: $desctop) {
        right: 5%;
        width: 200%;
        max-height: 205px;
    }
}

.country-item{
    cursor: pointer;
    color: #939393;
    border: 1px solid #3a3a3a;
}

.set-search,
.set-countries {
  width: 270px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.set-countries {
    position: relative;
    z-index: 20;
}

.input-countries,
.header-search {
    font-size: 18px;
    color: #939393;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    padding: 10px 30px;
    justify-content: center;
}

.icon-arrow-down {
    position: absolute;
    width: 24px;
    height: 13px;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    fill: #939393;
    cursor: pointer;
    transition: transform 0.3s;

    &:active {
        transform: translateY(-50%) translateY(4px);
    }
}