.main {
    background-image: url('.././images/Background.png');
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 39px;
    position: relative;
    top: -36px;
    justify-content: center;

    @media screen and (min-width: $tablet) {
        column-gap: 27px;
        row-gap: 58px;
    }

    @media screen and (min-width: $desctop) {
        column-gap: 70px;
        row-gap: 63px;
        top: -60px;
    }
}

.event-item {
    width: 128px;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(15px) scale(1.05);
    }
    
    @media screen and (min-width: $tablet) {
        width: 180px;
    }
}

.event-img-decorate {
    position: relative;
    width: 128px;

    @media screen and (min-width: $tablet) {
        width: 170px;
    }

    &::after {
        content: "";
        display: block;
        width: 108px;
        height: 101px;
        position: absolute;
        right: -10px;
        top: -9px;
        border-radius: 50px 0;
        border: 1px solid #DC56C54D;

        @media (min-width: $tablet) { 
            top: -13px; 
            right: -14px; 
            width: 153px; 
            height: 143px;
        } 
    }
}

.event-img-box {
    border-radius: 50px 0;
    width: 100%;
    height: 161px;
    overflow: hidden;
    background-color: #15ff00;

    @media screen and (min-width: $tablet) {
        height: 227px;
    }
}

.event-img {
    object-fit: cover;
    height: 100%;
}

.event-name {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #DC56C5;
    margin: 3px 0;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }
}

.event-date {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 3px;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }
}

.event-place-box {
    justify-content: center;
    display: flex;
    gap: 3px;
    align-items: baseline;
}

.vector-place {
    background-image: url(.././images/Vector.png);
    width: 7px;
    height: 10px;
    background-size: contain;
}

.event-place {
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }
}

// empty

.event-empty {
    background-color: none;
    border: 2px solid #212121;
    border-radius: 100px 0;
    padding: 40px 15px;
    margin-top: 15%;
    margin-bottom: 25%;

    @media screen and (min-width: $desctop) {
        border: none;
        margin-top: 10%;
    }
}

.event-empty-img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: $tablet) {
        width: 185px;
    }

    @media screen and (min-width: $desctop) {
        width: 235px;
    }
}

.event-empty-text {
    color: #DC56C5;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        font-size: 30px;
    }

    @media screen and (min-width: $desctop) {
        font-size: 45px;
    }
}