.main {
    background-image: url('.././images/Background.png');
}

.event-container {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
        column-gap: 27px;
        row-gap: 58px;
    }

    @media screen and (min-width: $desctop) {
        column-gap: 70px;
        row-gap: 63px;
    }
}

.event-item {
    width: 128px;
    text-align: center;
    cursor: pointer;
    
    @media screen and (min-width: $tablet) {
        width: 180px;
    }
}

.event-img-decorate {
    position: relative;
    width: 128px;

    @media screen and (min-width: $tablet) {
        width: 180px;
    }

    &::after {
        content: "";
        display: block;
        width: 153px;
        height: 143px;
        position: absolute;
        right: -14px;
        top: -13px;
        border-radius: 50px 0;
        border: 1px solid #ff00b3;
    }
}

.event-img-box {
    border-radius: 50px 0;
    width: 100%;
    height: 161px;
    overflow: hidden;
    background-color: #15ff00;

    @media screen and (min-width: $tablet) {
        height: 227px;
    }
}

.event-img {
    object-fit: cover;
    height: 100%;
}

.event-name {
    font-size: 16px;
    font-weight: 700;
    color: #DC56C5;
    margin: 3px 0;
}

.event-date {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.event-place {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}