.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(2px);
  opacity: 1;
  overflow-y: scroll;
  transition:
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 272px;
  padding: 0 30px;
  background-color: #FFF2FD;
  border-radius: 150px 0;

    @media screen and (min-width: $tablet) {
        width: 595px;
        border-radius: 300px 0;
    }

    @media screen and (min-width: $desctop) {
        width: 942px;
    }
}

.btn-modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background-color: rgb(226, 83, 83);
  font-weight: 400;
  font-size: 24px;
  color: rgb(109, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: transform 0.5s, box-shadow 0.5s ease;

  &:hover {
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
  }

  .text-close {
    display: none;
    text-transform: uppercase;
  }

  .icon-close {
    line-height: 1;
  }

    @media screen and (min-width: $tablet) {
        width: 80px;
        height: 40px;
        top: -15px;
        right: 25px;
        .text-close {
            display: block;
            font-size: 20px;
        }

        .icon-close {
            display: none;
        }
    }

    @media screen and (min-width: $desctop) {
        width: 95px;
        height: 50px;

        .text-close {
            font-size: 24px;
        }
    }
}

.modal-img-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 41px;
}

.modal-img-circle {
  width: 102px;
  height: 102px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 75px;

    @media screen and (min-width: $tablet) {
        width: 70px;
        height: 70px;
        margin-top: 28px;
    }

    @media screen and (min-width: $desctop) {
        width: 132px;
        height: 132px;
        margin-top: 62px;
    }
}

.modal-info-box {
  text-align: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      column-gap: 60px;
    }
}

.modal-img {
  display: none;
  object-fit: cover;
  border-radius: 120px 0;

    @media screen and (min-width: $tablet) {
      display: block;  
      width: 233px;
      height: 416px;
    }

    @media screen and (min-width: $desctop) {
        width: 360px;
        height: 641px;
    }
}

.modal-event-title {
  margin-top: 20px;
}

.modal-event-name {
  color: #DC56C5;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
}

.modal-event-description {
  font-size: 18px;
  font-weight: 400;
  color: #0E0E0E;
}

.modal-price-item {
  padding-top: 20px;
}

.modal-price-description {
  font-size: 18px;
  font-weight: 400;
  color: #0E0E0E;
  padding-bottom: 20px;
}

.btn-buy-tickets {
  width: 145px;
  height: 40px;
  background-color: #4C00FE;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2800db;
  }

  &:active {
    background-color: #570fff;
  }
}

.modal-more-from-author-box {
  display: flex;
  justify-content: center;
}

.btn-more-from-author {
  background: none;
  width: 255px;
  height: 40px;
  color: #4C00FE;
  border: 1px solid #4C00FE;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 25px;
  margin-bottom: 104px;

  &:hover {
    border: 1px solid #DC56C5;
  }

  @media screen and (min-width: $tablet) {
      margin-top: 56px;
    }

    @media screen and (min-width: $desctop) {
        margin-top: 62px;
    }
}