.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);
  opacity: 1;
  overflow-y: scroll;
  transition:
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 930px;
  height: 1023px;
  padding: 62px 30px;
  background-color: #FFF2FD;
  border-radius: 300px 0 300px;
}

.btn-modal-close {
  position: absolute;
  top: -15px;
  right: 25px;
  width: 95px;
  height: 50px;
  background-color: rgb(226, 83, 83);
  font-weight: 400;
  font-size: 25px;
  color: rgb(109, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: transform 0.5s, box-shadow 0.5s ease;


  &:hover {
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
  }
}